@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.main img{
    width: 90px;
    cursor: pointer;
}

.links{
    display: flex;
    align-items: center;
    gap: 50px;
}

.links a {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
}

.links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.accountLink {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    cursor: pointer;
}

.accountLink img{
    width: 20px;
}